@{
    ViewBag.Title = "GlobalHub";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Global Hub</h2>

<section>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/Accounts.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Manage User Accounts</h3>
                        <p class="card-text">Manage user accounts and their data.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/Role.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Assign Roles</h3>
                        <p class="card-text">Assign a specific role to the user.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HelpDesk.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Help Desk</h3>
                        <p class="card-text">Access the help desk information or contact a help desk representative.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
