@{
    ViewBag.Title = "HRManagerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>HR ADMIN Hub</h2>

<section>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HRNewHire.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">New Hire</h3>
                        <p class="card-text">Add new or list all current employees.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HROn-Boarding.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">On-Boarding</h3>
                        <p class="card-text">Integrate a new employee into the company or familiarizing a new customer/client with the company's products or services.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HRBenefits.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Benefits</h3>
                        <p class="card-text">Check to see current benefits available to employees.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HRPayroll.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Payroll</h3>
                        <p class="card-text">Adjust, check, and manage the payrolls of employees.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HRTermination.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Terminations</h3>
                        <p class="card-text">Create a new termination form or check past terminations.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/HRReport.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">HR Reports</h3>
                        <p class="card-text">Create a new report or check past reports.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
