@{
    ViewBag.Title = "SManagerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Sales ADMIN Hub</h2>

<section>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/SSalesReport.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Sales Reports</h3>
                        <p class="card-text">Create a new sales report or check past reports.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/SSalesLeads.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Sales Leads</h3>
                        <p class="card-text">Check to see submitted leads or create a new one.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card h-100">
                    <img src=@Url.Content("~/Media/SSalesDemo.jpg") alt="" class="card-img-top h-25">
                    <div class="card-body">
                        <h3 class="card-title">Sales Demo</h3>
                        <p class="card-text">Check, Upload, or Delete a demo.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
